#post-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#post-submit-box {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height : 100%;
  
  padding: 10px;
  
  justify-content: flex-start;
}

#post-title-input {
  width: 500px;
  height: 50px;
}

#post-writer-input {
  width: 400px;
  height: 50px;
  margin-top: 20px;
}

#post-body-input {
  margin-top: 20px;
}

#post-submit-btn {
  margin-top: 20px;
  background-color: skyblue;
  border : 1px solid transparent;
  border-radius: 5px;
  height: 45px;
}

#post-submit-btn:hover {
  opacity: 0.7;
}

.input-group {
  display: flex;
  margin-bottom: 0px;

}
.input-group > div {
  display: flex;
  flex-direction: row;
}

.text-validation-error {
  margin-left: 5px;
  color: rgb(200, 0, 0);
  height: fit-content;
}