/* Board.css */

#board-page-title {
  margin-left: 10px;
  padding: 3px;
  display: flex;
  justify-content: center;
}

#board-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 3px;
  margin: 10px;
}


#posting-form {
  width: 100%;
  max-width: 1000px;

}

#board-post-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#board-post-btn-container > button {
  padding: 7px;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: skyblue;
  font-size: small;
  border-color: transparent;
}

#board-posts-list-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}

#posting-form-toggle-btn:hover {
  
  opacity: 0.5;
}

#posts-all-remove-btn:hover {
  
  opacity: 0.5;
}

#divider {
  width: 50%;
  margin: 20px auto;
}