#post-container {
  width: 100%;
}

.card {
  width: 100%;
  margin-bottom: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#post-writer-name {
  height: 30px;
  width: fit-content;
}

#inpost-btn-container {
  text-align: center;
  display: flex;
  flex-direction: row;
}

#inpost-btn-container > div {
  margin: 0px 3px 0px 3px;
}

#writer-span {
  color: blue;
  font-weight: bold;
}