.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 8px 5px;
}
.banner-icon{
  text-decoration: none;
  color: inherit;
  display: block;
}
.banner-icon span{
  font-size: 30px;
}
.user-icon{
  text-decoration: none;
  color: inherit;
  display: block;
}
.user-icon span{
  font-size: 30px;
}
.login_btn{
  font-size: 16px;
  border-radius: 7px;
  border: none;
  
  color: white;
  padding: 8px 20px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}





